*,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: brown;
}

.container-navbar {
    background-color: black;
    width: 100%;
    height: 15vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.il-navbar {
    list-style-type: none;
    padding: 20px;
    color: aliceblue;
    margin: 5px;
    font: 100px;
}
 .a-navbar {
    color: aliceblue;
    text-decoration: none;
 }

.content {
    align-items: center;
    justify-content:center;
    display: flex;
    height: 77vh;
    flex-direction: column;
    text-align: center;
}

.abaut-content {
    text-align: center;
    display: flex;
    color: aliceblue;
}

.img-content {
    height: 200px;
    width: 200px;
}

.contact-content{
    color: aliceblue;
    font-size: 25px;
}

.footer {
    background-color: #333;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 20px;
    color: aliceblue;
}

.whatsapp-logo {
    height: 250px;
    width: 400px;

}
